DATABASE_URL="postgresql://postgres:PASSWORD@k80c0s08c84kgcs44kckcos0:5432/lifeos"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="https://lifeos.ashketing.com"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_URL="https://lifeos.ashketing.com"
NEXT_PUBLIC_GA_ID="G-E4NCD9HZZZ"
